.cardHover:hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgb(17, 13, 13);;
}

.accordhover:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease;

}

image {
  border: 2px solid black;
}

.button-style {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
  }

  
  .button-style:hover {
    background-color: #0056b3;
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  

.caresol {
  border: 2px black;
  border-style: solid;
}
  
.accordion-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.card-hover:hover .accordion-content {
  max-height: 200px;
  opacity: 1;
}

.middleImg {
  max-width: 100%;
}


@media (min-width: 768px) { 
  .mt-custom {
    margin-top: 250px;
  }
} 
@media (min-width: 992px) { 
  .mt-custom {
    margin-top: 250px;
  }
} 

@media (min-width: 992px) {
  .cardHover {
    height: 100%;
  }
  
}